div.topBar {
    display: flex;
    align-items: center;
}

div.topBar .title {
    flex-basis: content;
    flex-grow: 1;
    font-size: 15pt;
    -webkit-app-region: drag;
}

div.topBar .right-icons {
    font-size: 15pt;
}
