<div>
    <div class="topBar">
        <div class="title">Tomeito</div>

        <div class="buttons">
            <button mat-icon-button (click)="settings()" class="closeButton">
                <span class="material-icons right-icons">settings</span>
            </button>
            <button mat-icon-button (click)="close()" class="closeButton">
                <span class="material-icons right-icons">close</span>
            </button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
