<div>
    <div class="topBar">
      <div class="title">Tomeito</div>
      <div class="pomodoroCount">
        <span *ngFor="let i of [].constructor(numberOfPomodoros)" class="material-icons">
          stop_circle
        </span>
      </div>
      <div class="buttons">
        <button mat-icon-button (click)="close()" class="closeButton">
          <span class="material-icons">close</span>
        </button>
      </div>
    </div>
  
    <div class="clock">
      {{minutes | number: "2.0"}}:{{seconds | number: "2.0"}}
    </div>
  
    <div>
      <button mat-raised-button color="primary" (click)="start()" *ngIf="startVisible" class="bottomButton">
        Start
      </button>
      <button mat-raised-button (click)="cancel()" *ngIf="cancelVisible" class="bottomButton">
        Cancel
      </button>
      <button mat-raised-button (click)="startRest()" *ngIf="startRestVisible" class="bottomButton">
        Start rest
      </button>
    </div>
  </div>
  