div.pomodoroCount {
    text-align: center;
    height: 25px;
}

div.pomodoroCount .pomodoro-icons {
    font-size: 14pt;
}

div.clock {
    font-size: 40pt;
    line-height: 40pt;
    text-align: center;
}

.bottomButton {
    width: 100%;
    font-size: 15pt;
    position: fixed;
    bottom: 0;
}
